h1
{
  color: blue;
}
a
{
  color: red;
  text-decoration: none;
}
a:hover
{
  /* color: green; */
  background-color: grey;
}
.links a
{
  padding-left: 10px;
}
.links
{
  margin-top:20px ;
  font-size: 20px
}