.footerSection
{
    margin-top: 15px;
    padding: 15px;
    background-color: aquamarine;
}
ul
{
    list-style-type: none;
}
li
{
    margin-top: 10px;
}
.faculty-profile
{
    border: 1px solid blue;
    border-radius: 12.5px;
    padding: 10px;
}